html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

div#main {
  height: 750px;
  width: auto;
  background-image: url("IMG_3290.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div#top {
  text-align: center;
  font-size: 2em;
  margin: auto;
  height: 256px;
  width: 90%;
  background: green;
}

div#bottom {
  text-align: center;
  font-size: 1em;
  margin: auto;
  height: 256px;
  width: 75%;
  background: blue;
}

/* Links */
a#linka {font-family:Georgia, "Times New Roman", Times, serif;font-size:large;cursor: auto}
a#linka:link {color:blue;}
a#linka:visited {color: #660066;}
a#linka:hover {text-decoration: none; color: #ff9900; font-weight:bold;}
a#linka:active {color: #ff0000;text-decoration: none}

a#linkb {font-family:Georgia, "Times New Roman", Times, serif;font-size:large;cursor: auto}
a#linkb:link {color:blue;}
a#linkb:visited {color: #660066;}
a#linkb:hover {text-decoration: none; color: #ff9900; font-weight:bold;}
a#linkb:active {color: #ff0000;text-decoration: none}

a#linkc {font-family:Georgia, "Times New Roman", Times, serif;font-size:large;cursor: auto}
a#linkc:link {color:blue;}
a#linkc:visited {color: #660066;}
a#linkc:hover {text-decoration: none; color: #ff9900; font-weight:bold;}
a#linkc:active {color: #ff0000;text-decoration: none}

h1 {
  color: crimson;
  text-align: center;
  font-size: 5em;
  font-variant: small-caps;
  font-family: Didot, serif;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

p#paragraph {
  color: orange;
}

p#para {
 color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

#main {
  padding: 50px; }

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    background-attachment: fixed;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

div#MyProMain {
  height: 750px;
  width: auto;
  background-image: url("IMG_8157.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  color: black;
  text-align: center;
  font-size: 5em;
  font-variant: small-caps;
  font-family: Didot, serif;
  font-weight: bold;
  text-shadow: 2px 2px pink;
}

.topnavMyPro {
    background-color: #333;
    background-attachment: fixed;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnavMyPro a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnavMyPro a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnavMyPro a.active {
  background-color: #4CAF50;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnavMyPro-right {
  float: right;
}

div#ProOne {
  text-align: center;
  font-size: 2em;
  margin: auto;
  height: 256px;
  width: 100%;
  background: green;
}

p#ProjO {
  color: orange;
}
